* {
    margin-top: 20px;
    /*border: 1px solid black*/
}

nav {
    display: flex;
    position: absolute;
    text-align: center;
}

ul {
    padding: 10px;
    list-style-type: none;
}

li {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

a:hover{
    color: aqua;
}

p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;

}